<app-navbar></app-navbar>
<br>
<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">

    <div *ngIf='success'>

        <div class="w-full text-white bg-green-500">
            <div class="container flex items-center justify-between px-6 py-4 mx-auto">
                <div class="flex">
                    <svg viewBox="0 0 40 40" class="w-6 h-6 fill-current">
                    <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"></path>
                </svg>

                    <p class="mx-3">Your answers for this survey have been submitted successfully!.</p>
                </div>

                <button (click)='close()' class="p-1 transition-colors duration-200 transform rounded-md hover:bg-opacity-25 hover:bg-gray-600 focus:outline-none">
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            </div>
        </div>
    </div>
    <div *ngFor='let item of forms?.forms'>
        <form *ngIf="form" [formGroup]="form" #Form="ngForm" (submit)="submitAnswers()">
            <h1 class="text-lg font-extrabold text-gray-700 underline uppercase text-center dark:text-white"> {{item.description}}</h1>
            <br>
            <div *ngFor='let page of item?.pages'>
                <br>
                <h3 class="text-lg font-semibold text-gray-700 capitalize dark:text-white"> {{page.name}}</h3>

                <div *ngFor='let section of page?.sections'>
                    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                        <div *ngFor='let question of section?.questions'>
                            <label class="text-gray-700 dark:text-gray-200" innerHTML='{{question?.text}}' for="{{question?.text}}"></label>
                            <div *ngIf="question?.q_options.length>0; else templateName">
                                <select class="block w-full px-4 py-2
                 mt-2 text-gray-700 bg-white border
                  border-gray-300 rounded-md dark:bg-gray-800
                   dark:text-gray-300 dark:border-gray-600 
                   focus:border-blue-500 dark:focus:border-blue-500
                    focus:outline-none focus:ring" formControlName="{{question?.column_match}}">
                    <option value="{{option.id}}" *ngFor='let option of question?.q_options'>
                        {{option.name}} 
                    </option>
                    
                  </select>

                            </div>
                            <ng-template #templateName>
                                <input formControlName="{{question?.column_match}}" type="{{question?.type}}" placeholder="{{question?.description}}" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300
                                 rounded-md dark:bg-gray-800 dark:text-gray-300
                                  dark:border-gray-600 focus:border-blue-500
                                   dark:focus:border-blue-500 focus:outline-none focus:ring">


                            </ng-template>

                        </div>
                    </div>
                </div>

            </div>

            <div class="flex justify-center mt-6">
                <button class="px-6 py-2 leading-5 
                text-white transition-colors duration-200 
                transform bg-blue-800 rounded-md hover:bg-blue-600
                 focus:outline-none focus:bg-blue-600" [disabled]="submitted || !form.valid">Submit answers</button>
            </div>
        </form>
    </div>

</section>